{% extends 'base.html.twig' %} {% block body %}
<main>
  <h2>Ajouter un(e) Argonaute</h2>
  <div class="new-member-form">{% include "./argonaute/_form.html.twig" %}</div>

  <h2>Membres de l'équipage</h2>
  <section class="member-list">
    {% for argonaute in argonautes %}
    <div class="member-item">{{ argonaute.name }}</div>
    {% endfor %}
  </section>
</main>
{% endblock %}
